@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* NON-TAILWIND CSS
   ========================================================================== */
.custom-layout-bg {
  height: auto;
  order: 1;
  background-image: url(https://res.cloudinary.com/my-nigerian-projects/image/upload/v1596725538/Others/layout-pattern.png),
  linear-gradient(226deg, rgb(15, 114, 68) 48%, rgb(17, 97, 73) 100%);
}
@-webkit-keyframes scrollSmall {
 0% {
  transform:rotate(-13deg) translateY(0)
 }
 to {
  transform:rotate(-13deg) translateY(-639px)
 }
}
@keyframes scrollSmall {
 0% {
  transform:rotate(-13deg) translateY(0)
 }
 to {
  transform:rotate(-13deg) translateY(-639px)
 }
}
@-webkit-keyframes scrollLarge {
 0% {
  transform:rotate(-13deg) translateY(0)
 }
 to {
  transform:rotate(-13deg) translateY(-1278px)
 }
}
@keyframes scrollLarge {
 0% {
  transform:rotate(-13deg) translateY(0)
 }
 to {
  transform:rotate(-13deg) translateY(-1278px)
 }
}
@-webkit-keyframes spin {
 0% {
  transform:rotate(0deg)
 }
 to {
  transform:rotate(359deg)
 }
}
@keyframes spin {
 0% {
  transform:rotate(0deg)
 }
 to {
  transform:rotate(359deg)
 }
}
@-webkit-keyframes pulse {
 0% {
  opacity:1
 }
 50% {
  opacity:.5
 }
 to {
  opacity:1
 }
}
@keyframes pulse {
 0% {
  opacity:1
 }
 50% {
  opacity:.5
 }
 to {
  opacity:1
 }
}
.spin {
 -webkit-animation:spin .5s linear infinite;
 animation:spin .5s linear infinite
}
.pulse {
 -webkit-animation:pulse 2s ease infinite;
 animation:pulse 2s ease infinite
}
.scroll-bg {
 -webkit-animation-name:scrollSmall;
 animation-name:scrollSmall;
 -webkit-animation-duration:15s;
 animation-duration:15s;
 -webkit-animation-timing-function:linear;
 animation-timing-function:linear;
 -webkit-animation-iteration-count:infinite;
 animation-iteration-count:infinite
}
@media (min-width:1024px) {
 .scroll-bg {
  -webkit-animation-name:scrollLarge;
  animation-name:scrollLarge;
  -webkit-animation-duration:35s;
  animation-duration:35s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite
 }
}
.custom-gradient {
  background: #525252;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.preventAutoZoom {
  touch-action: none;
}

.word-break {
  word-break: break-word;
}
.custom-shadow {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3),
    0 2px 6px 2px rgba(60, 64, 67, .15);
}

.custom-shadow-nav {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

h1 {
  font: 500 56px / 1.32143 "Google Sans", sans-serif;
  letter-spacing: -.5px;
  margin-top: 0px;
  margin-bottom: 11px;
}

/* LOADING DOTS*/
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {

  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {

  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
