@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* NON-TAILWIND CSS
   ========================================================================== */
.c-modal {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 3px;
  display: block;
  /* position: absolute; */
  right: 0.75rem;
  top: 0.25rem;
  transform: translate(0px, 0px) perspective(1000px) rotateX(-35deg);
  transform-origin: center top;
  z-index: 1000;
  animation: 0.5s ease 0s 1 normal forwards running listEntry;
  border-radius: 8px;
  outline: none;
}
 .custom-box-shadow {
   box-shadow: 0 -6px 4px -7px rgba(0,0,0,0.1) inset
 }

.js-brown {
  color: #987631;
}

.js-brown-bg {
  background-color: #a16900;
}

.js-brown-bg-hover:hover {
  background-color: #d8d6d3;
  color: #956503;
}

.js-blue-1 {
  color: #2c308a;
}

.js-blue-bg {
  background-color: #1DA1F2;
}

.js-blue-2 {
  color: #191940;
}

.js-blue-3 {
  color: #242561;
}

.custom-layout-bg {
  height: auto;
  order: 1;
  background-image: url(https://res.cloudinary.com/my-nigerian-projects/image/upload/f_auto,g_auto/v1596725538/Others/layout-pattern.png),
    linear-gradient(225deg, rgba(19, 84, 122, 1) 0%, rgba(128, 208, 199, 1) 100%);
}

@-webkit-keyframes scrollSmall {
  0% {
    transform: rotate(-13deg) translateY(0)
  }

  to {
    transform: rotate(-13deg) translateY(-639px)
  }
}

@keyframes scrollSmall {
  0% {
    transform: rotate(-13deg) translateY(0)
  }

  to {
    transform: rotate(-13deg) translateY(-639px)
  }
}

@-webkit-keyframes scrollLarge {
  0% {
    transform: rotate(-13deg) translateY(0)
  }

  to {
    transform: rotate(-13deg) translateY(-1278px)
  }
}

@keyframes scrollLarge {
  0% {
    transform: rotate(-13deg) translateY(0)
  }

  to {
    transform: rotate(-13deg) translateY(-1278px)
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(359deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(359deg)
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1
  }

  50% {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

@keyframes pulse {
  0% {
    opacity: 1
  }

  50% {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

.spin {
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite
}

.pulse {
  -webkit-animation: pulse 2s ease infinite;
  animation: pulse 2s ease infinite
}

.scroll-bg {
  -webkit-animation-name: scrollSmall;
  animation-name: scrollSmall;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

@media (min-width:1024px) {
  .scroll-bg {
    -webkit-animation-name: scrollLarge;
    animation-name: scrollLarge;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
  }
}

.custom-gradient {
  background: #525252;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d72b4, #525252);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.preventAutoZoom {
  touch-action: none;
}

.word-break {
  word-break: break-word;
}

.custom-shadow {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3),
    0 2px 6px 2px rgba(60, 64, 67, .15);
}

.custom-shadow-nav {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

h1 {
  font: 500 56px / 1.32143 "Google Sans", sans-serif;
  letter-spacing: -.5px;
  margin-top: 0px;
  margin-bottom: 11px;
}

/* LOADING DOTS*/
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {

  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {

  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.liveValidateMessage {
  top: -5px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  text-align: center;
  --text-opacity: 1;
  color: #c53030;
  color: rgba(197, 48, 48, var(--text-opacity));
  --border-opacity: 1;
  border-color: #fc8181;
  border-color: rgba(252, 129, 129, var(--border-opacity));
  --bg-opacity: 1;
  background-color: #fff5f5;
  background-color: rgba(255, 245, 245, var(--bg-opacity));
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-enter {
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.liveValidateMessage-exit {
  opacity: 1;
  transform: translateY(0);
}

.liveValidateMessage-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-overlay.active {
  z-index: 0;
  opacity: 0.7;
  filter: alpha(opacity=50);
}

.modal {
  padding: 10px 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
}
